@{
    ViewBag.Title = "Index";
}

<h2>Classic Data Demo</h2>
<ul>
    <li>@Html.ActionLink("System.Data.SqlDataReader", "SqlDataReaderDemo")</li>
    <li>@Html.ActionLink("System.Xml.XmlReader", "XmlReaderDemo")</li>
    <li>@Html.ActionLink("System.Xml.XmlWriter", "XmlWriterDemo")</li>
    <li>@Html.ActionLink("Fill DataSet From Database", "FillDataSetFromDatabase")</li>
    <li>@Html.ActionLink("Update Database From DataSet", "UpdateDatabaseFromDataSet")</li>
    <li>@Html.ActionLink("Write DataSet To Xml", "WriteDataSetToXml")</li>
    <li>@Html.ActionLink("Read DataSet From Xml", "ReadDataSetFromXml")</li>
</ul>
